In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv('tested.csv')
print(df.head())

print("shape:",df.shape)
print("columns:",df.columns.tolist())

print(df.dtypes)

print(df.describe())
print(df.isnull().sum())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S
shape: (418, 12)
columns: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [14]:
df_dropped = df.dropna()
print("After dropping missing values:", df_dropped)

After dropping missing values:      PassengerId  Survived  Pclass  \
12           904         1       1
14           906         1       1
24           916         1       1
26           918         1       1
28           920         0       1
..           ...       ...     ...
404         1296         0       1
405         1297         0       2
407         1299         0       1
411         1303         1       1
414         1306         1       1

                                                  Name     Sex   Age  SibSp  \
12       Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0      1
14   Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0      1
24     Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0      1
26                        Ostby, Miss. Helene Ragnhild  female  22.0      0
28                             Brady, Mr. John Bertram    male  41.0      0
..                                                 ...     ...   ...    ...
404                       Frauenthal, Mr. Isaac Gerald    male  43.0      1
405       Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.0      0
407                         Widener, Mr. George Dunton    male  50.0      1
411    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0      1
414                       Oliva y Ocana, Dona. Fermina  female  39.0      0

     Parch         Ticket      Fare            Cabin Embarked
12       0          21228   82.2667              B45        S
14       0    W.E.P. 5734   61.1750              E31        S
24       3       PC 17608  262.3750  B57 B59 B63 B66        C
26       1         113509   61.9792              B36        C
28       0         113054   30.5000              A21        S
..     ...            ...       ...              ...      ...
404      0          17765   27.7208              D40        C
405      0  SC/PARIS 2166   13.8625              D38        C
407      1         113503  211.5000              C80        C
411      0          19928   90.0000              C78        Q
414      0       PC 17758  108.9000             C105        C

[87 rows x 12 columns]