In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [22]:
data = {
    'Name': ['Ram', 'Shyam', 'Hari', 'Gita', 'Sita', 'Radha'],
    'Age': [25, None, 30, 35, 40, 45],
    'Salary': [50000, 45000, None, 60000, None, 70000]
}

In [23]:
df = pd.DataFrame(data)
print("Orginal dataframe:\n",df)

Orginal dataframe:
     Name   Age   Salary
0    Ram  25.0  50000.0
1  Shyam   NaN  45000.0
2   Hari  30.0      NaN
3   Gita  35.0  60000.0
4   Sita  40.0      NaN
5  Radha  45.0  70000.0

In [ ]:
print(df.isnull().sum())
df_drop = df.dropna()
print(df_drop)

Name      0
Age       1
Salary    2
dtype: int64
    Name   Age   Salary
0    Ram  25.0  50000.0
3   Gita  35.0  60000.0
5  Radha  45.0  70000.0

In [27]:
print(df.columns)
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())
print(df)

Index(['Name', 'Age', 'Salary'], dtype='object')
    Name   Age   Salary
0    Ram  25.0  50000.0
1  Shyam  35.0  45000.0
2   Hari  30.0  56250.0
3   Gita  35.0  60000.0
4   Sita  40.0  56250.0
5  Radha  45.0  70000.0